<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Devenir membre</h3>
                                <div id="form-message-warning" class="mb-4"></div>
                                <div id="form-message-success" class="mb-4">
                                    Votre message a été envoyé, merci!
                                </div>
                                <form  id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">{{__('Nom de la structure')}}</label>
                                                <input type="text" class="form-control" v-model="form.nom" name="nom" id="nom"
                                                    placeholder="Nom">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Nom du responsable</label>
                                                <input type="text" class="form-control" v-model="form.responsable" name="responable" id="name"
                                                    placeholder="Le responsable">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label">Preuve d'existence</label>
                                                <div class="custom-file">
                                                    <label class="custom-file-label" for="file-demande">Document de demande
                                                        d'adhesion</label>
                                                    <input type="file" v-on:change="onFileChange" class="custom-file-input" name="demamde"
                                                        id="file-demande">
                                                </div>
                                            </div>
                                            <span>Dans le document il faut specifier l'IFU, le RCCM, Siege etc..</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="domaine">{{ __('Domaine d\'intervention') }}</label>
                                                <input name="domaine" v-model="form.domaine" type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="pays">Pays</label>
                                                <select name="pays" v-model="form.pays" class="form-control" id="pays">
                                                    <option value="Benin">Benin</option>
                                                    <option value="Nigeria">Nigeria</option>
                                                    <option value="Togo">Togo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Ville</label>
                                                <input type="text" class="form-control" v-model="form.ville" name="ville" id="subject"
                                                    placeholder="Cotonou">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="message">Objectifs et Vision</label>
                                                <textarea name="objectif" v-model="form.objectif" class="form-control" id="message" cols="30" rows="4"
                                                    placeholder="Objectifs et Vision"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="message">Innovation realisees</label>
                                                <textarea name="realisation" v-model="form.realisation" class="form-control" id="message" cols="30"
                                                    rows="4" placeholder="Vos realisation"></textarea>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" @click="send" value="Devenir partenaire" class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div> -->
                                    </div>
                                </form>
                                <input type="submit" @click="send" value="Devenir partenaire" class="btn btn-primary">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-primary w-100 p-md-5 p-4">
                                <h3>Condition pour devenir membre</h3>
                                <p class="mb-4">{{ ('Nous sommes ouverts à toute suggestion ou simplement pour discuter') }}</p>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="text pl-3">
                                        <p>Vous devez etre une entrepise ou une ONG enregistrer.<br /></p>
                                    </div>
                                </div>
        
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Website</span> <a href="/">apaid-benin.org</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    name: "AdhComponent",
    data(){
        return {
            form: {
                nom: '',
                responsable: '',
                demande: '',
                domaine: '',
                pays: '',
                ville: '',
                objectif: '',
                realisation: '',
                parent_id: null,
                
            },
        }
    },
    

    methods: {
        onFileChange(e) {
            //console.log(e.target.files[0]);
            this.filename = "Selected File: " + e.target.files[0].name;
            form.demande = e.target.files[0];
        },
        send() {
            axios.post("/adhesionsend",
                {
                    name: this.form.nom,
                    responsable: this.form.responsable,
                    demande: this.form.demande,
                    domaine: this.form.domaine,
                    pays: this.form.pays,
                    ville: this.form.ville,
                    objectif: this.form.objectif,
                    realisation: this.form.realisation
                }).then(res => { this.data = res.data }).catch(error => console.log(error.response));
        }
    },
}
</script>