<template>
    <div class="col-lg-4 col-md-5">
        <div class="filter__sort">
            <span>Trier par</span>
            <select v-model="selected" @change="parler">
               <option value="all">Tout</option>
               <option value="asc">Prix - Croissant</option>
               <option vlaue="desc">Prix - decroissant</option>
               <option value="new">Nouveauté</option>
               <option value="popular">Populaire</option>
            </select>          
        </div>
    </div>
</template>
  
<script>
    export default {
        name: "filtercomponent",
        data() {
            return {
                selected: '',         
                data: {}
            }
        },
        methods: {
            sortby(){
                console.log("ok");
            },
            parler(){
                // alert('ok');
                // axios.get('/sortby',{
                //     selected: this.selected
                // }).then(response => {
                //     this.data = response.data;
                //     $("#productData").html(response);
                //     // window.location.href = "/boutique";
                // });
                $.ajax({
                    headers: {
                        'X_CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    type: 'post',
                    dataType: 'html',
                    url: '/sortby',
                    data: 'new',
                    success:function(response){
                        console.log(response.status);
                        $("#productCats").html(response);
                    }
                });
                
            },
            changeItem(event) {
                this.selected = event.target.value;
                alert(selected);
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>