<template>
    <div class="container">
        <div class="sidebar__item">
            <h4>Price <span class="text-info"></span></h4>
                <div class="price-range-wrap">
                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="0" data-max="20000">
                        <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                    </div>
                    <div class="range-slider">
                        <div class="price-input">
                            <input type="text" id="minamount" name="min_price">
                            <input type="text" id="maxamount" name="max_price">
                        </div>
                    </div>
                </div> 
        </div> 
    </div>
</template>

<script>
    export default {
        name : "pricecomponent",
        
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>