.left-sidebar .main-content-area{
    float: right !important;
}

.widget:first-child{
    margin-top: -4px;
}
.widget .widget-content{
    display: inline-block;
    width: 100%;
}
.widget .widget-banner{
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 17px;
    width: 100%;
    text-align: left;
}
.widget .widget-title{
    font-size: 14px;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 19px;
    margin-bottom: 18px;
    float: left;
}
.widget ul li a{
    font-size: 14px;
    line-height: 40px;
    color: #444444;
}
.widget ul li{
    list-style: none;
    float: left;
    width: 100%;
}
.widget ul{
    padding: 0;
    margin: 0;
}
.widget.categories-widget .widget-title{
    padding-bottom: 13px;
    border-bottom: none;
    margin-bottom: 0;
}
.widget.categories-widget ul li{
    display: block;
    width: 100%;
    float: left;
}
.widget.categories-widget .sub-cate{
    padding-left: 33px;
}
.widget.categories-widget .has-child-cate:not(.open) .sub-cate{
    display: none;
}
.has-child-cate .toggle-control{
    position: relative;
    width: 10px;
    font-size: 0;
    display: inline-block;
    float: left;
    height: 40px;
}
.has-child-cate .toggle-control:hover{
    cursor: pointer;
}
.has-child-cate .toggle-control::before{
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background-color: #444444;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.has-child-cate:not(.open) .toggle-control::after{
    content: '';
    display: block;
    width: 2px;
    height: 10px;
    background-color: #444444;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.widget .has-child-cate > a{
    display: inline-block;
    float: left;
    width: calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
}
.widget.categories-widget .widget-content>ul>li:last-child{
    margin-bottom: 10px;
}
.widget.filter-widget .vertical-list li a:not(.btn-control)::before{
    content: '';
    display: inline-block;
    float: left;
    width: 15px;
    height: 14px;
    background-color: #fafafa;
    border: 1px solid #e9e9e9;
    margin-top: 12px;
}
.widget.filter-widget .vertical-list li a:not(.btn-control)::after{
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    float: left;
    margin-top: 0;
    transform: translateX(-14px);
    -webkit-transform: translateX(-14px);
    -ms-transform: translateX(-14px);
    margin-right: -2px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all ease 0.5s 0s;
    -webkit-transition: all ease 0.5s 0s;
    -moz-transition: all ease 0.5s 0s;
    -o-transition: all ease 0.5s 0s;
}
.widget.filter-widget .vertical-list li a:hover::after,
.widget.filter-widget .vertical-list li a.active::after{
    opacity: 1;
    filter: alpha(opacity=100);
}
.widget.filter-widget .vertical-list li a.btn-control{
    position: relative;
}
.widget.filter-widget .vertical-list li a.btn-control::before{
    content: '';
    height: 1px;
    background-color: #949494;
    bottom: 1px;
    right: 0;
    left: 0;
    border: 0;
    border-radius: 0;
    display: inline-block;
    position: absolute;
}
.widget.filter-widget .vertical-list li a.btn-control i{
    margin-left: 3px;
}
.widget.filter-widget .vertical-list li.default-hiden{
    display: none;
}
.widget.filter-widget .inline-round li{
    width: auto;
}
.widget.filter-widget .inline-round li:not(last-child){
    margin-right: 7px;
}
.widget.filter-widget .inline-round li a{
    display: inline-block;
    min-width: 43px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    text-align: center;
    color: #555555;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5.5px 3px;
}
.widget.filter-widget .inline-round li a.active,
.widget.filter-widget .inline-round li a:hover{
    color: #ffffff !important;
}
.widget.filter-widget .inline-round{
    margin-top: 17px;
}
.widget-product .products li:not(:last-child){
    margin-bottom: 20px;
}
.widget-product .widget-content{
    margin-top: 2px;
}
.widget.filter-widget{
    margin-bottom: 10px;
}
